.CalendarDate {
    border: 0.09em solid black;
    user-select: none;
}

.date {
    position: relative;
    top: 0.25em;
    left: 0.5em;
}

.selected-date {
    border-width: 0.2em;
    border-color: cadetblue;
}

.current-date {
    background-color: rgba(135, 225, 255, 0.5);
}

.subsidiary-month {
    color: rgb(77, 77, 77);
    background-color: rgba(222, 222, 222, 0.8);
}

.form-date-selection {
    background-color: rgba(0, 0, 0, 0.5);
}