.CalendarDate {
    outline: var(--panel-item-outline);
    user-select: none;
}

.date {
    position: relative;
    top: 0.25em;
    left: 0.9em;
}

.selected-date {
    border: 0.2em solid cadetblue;
    z-index: 10;
}

.current-date {
    background-color: rgba(135, 225, 255, 0.5);
}

.subsidiary-month {
    color: rgb(77, 77, 77);
    background-color: rgba(222, 222, 222, 0.8);
}

.form-date-selection {
    background-color: rgba(128, 128, 128, 0.5);
}