.calendar-grid {
    height: 40rem;
    width: 40rem;
    border: 0.25rem solid transparent;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    pointer-events: none;
}

.event-block {
    height: 25%;
    position: relative;
    top: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.event-title {
    font-size: 0.75em;
    margin-inline: 1em;
}