.CalendarEvents {
    height: 40rem;
    width: 40rem;
    border: 0.25rem solid transparent;
    position: absolute;
    z-index: 2;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    pointer-events: none;
}

.event-row-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.event-row {
    height: 1.2em;
    margin-top: 4em;
    border: 0.2em solid transparent;
    border-radius: 0.7em;
    grid-row: 1 / 2;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    pointer-events: all;
    user-select: none;
}

.event-title {
    font-size: 0.75em;
    margin-inline: 1em;
}

.selected-event {
    border-color: cadetblue;
}