.CalendarEvents {
    box-sizing: border-box;
    height: 40rem;
    width: 40rem;
    border: 0.25rem solid transparent;
    position: absolute;
    z-index: 2;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    pointer-events: none;
}

.event-row-container {
    padding-top: 2em;
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 0.5em;
    grid-auto-flow: dense;
    overflow: hidden;
}

.event-row-container:hover {
    grid-auto-rows: 1.2em;
    overflow: scroll;
}

.event-row {
    height: 1.2em;
    border: 0.1em solid transparent;
    border-radius: 0.7em;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    pointer-events: all;
    user-select: none;
    cursor: pointer;
}

.event-title {
    font-size: 0.75em;
    margin-inline: 1em;
}

.selected-event {
    border-color: #272d2d;
}