.calendar-header {
    width: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.header-button {
    height: 3em;
    width: 3em;
}

.calendar-container {
    height: 40rem;
    width: 40rem;
    border: 0.25rem solid black;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.events-container {
    height: 40rem;
    width: 40rem;
    position: absolute;
    pointer-events: none;
}