:root {
    --hour-height: 4em;
}

.DayPanel {
    height: 40em;
    width: 40%;
    min-width: 14rem;
    margin-left: 3em;
    margin-top: 5em;
    border: 0.25rem solid black;
    overflow: scroll;
    position: relative;
}

.full-day-hour-block {
    display: grid;
    grid-template-rows: repeat(24, 1fr);
}

.date-separator {
    margin: 0.3em;
    position: absolute;
    left: 40%;
}

.hour {
    height: var(--hour-height);
    border: 0.075em solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hour-text {
    font-size: 0.75em;
    padding-block: 0.7em;
    padding-inline: 1em;
}