:root {
    --hour-height: 4em;
}

.DayPanel {
    box-sizing: border-box;
    max-height: var(--main-panel-height);
    width: var(--main-panel-width);
    margin-inline: 1em;
    border-radius: var(--main-panel-border-radius);
    outline: var(--main-panel-outline);
    overflow: scroll;
    position: relative;
    pointer-events: none;
}

.full-day-hour-block {
    display: grid;
    grid-template-rows: repeat(24, 1fr);
    pointer-events: none;
}

.date-separator {
    margin: 0.3em;
    position: absolute;
    left: 40%;
    user-select: none;
}

.hour {
    height: var(--hour-height);
    /*border: 0.075em solid #272d2d;*/
    outline: var(--panel-item-outline);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    pointer-events: all;
}

.hour-text {
    font-size: 0.75em;
    padding-block: 0.7em;
    padding-inline: 1em;
    pointer-events: none;
    user-select: none;
}

.events-container--day-panel {
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 5em;
    grid-auto-columns: 1.5rem;
    grid-template-rows: repeat(calc(42 * 24), var(--hour-height));
    column-gap: 1em;
    pointer-events: none;
}

.form-selection-container--day-panel {
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 5em 1fr;
    grid-template-rows: repeat(calc(42 * 24), var(--hour-height));
    pointer-events: none;
}

.form-selection-marker--day-panel {
    grid-column: 1 / 2;
    background-color: rgba(128, 128, 128, 0.5);
}

.minute-selection-box {
    font-size: 0.75em;
    height: 25%;
    width: 10%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.minute-input {
    height: 90%;
    width: 52%;
}