.EventCreationPanel {
    box-sizing: border-box;
    width: var(--main-panel-width);
    padding: 1em;
    margin-block: 2em;
    border-radius: var(--main-panel-border-radius);
    outline: var(--main-panel-outline);
}

.event-creation-form {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0.5em;
}

.event-creation-title-label {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#event-creation-form--title {
    height: 1.5em;
    width: 9em;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.event-creation-description-label {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#event-creation-form--description {
    height: 1.5em;
    min-height: 1.5em;
    max-height: 9em;
    min-width: 9em;
    max-width: 9em;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.event-creation-start-label {
    margin: 0;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.event-creation-form--start {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.event-creation-end-label {
    margin: 0;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.event-creation-form--end {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.button--add-event {
    width: 7em;
    margin: 0.5em;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.button--cancel-event-creation {
    height: 2em;
    width: 2em;
    margin: 0.5em;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    place-self: end;
}

.button--set-start-time {
    width: 8em;
    margin: 0.25em;
    grid-column: 3 / 4;
    grid-row: 3 /4;
}

.button--set-end-time {
    width: 8em;
    margin: 0.25em;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.date-text {
    margin-bottom: 0.5em;
}

.temp-event {
    margin-block: 2em;
}

.event-color-tag {
    height: 1em;
    width: 1em;
}