.EventPanel {
    height: 40em;
    max-width: 20em;
    margin-right: 4em;
    border: 0.25rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.button--add-event {
    margin: 0.5em;
}