.EventPanel {
    width: 40rem;
    margin-block: 1.5em;
    border: 0.25rem solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.event-creation-form {
    display: grid;
    grid-template-columns: repeat(4, 7.5em);
    grid-template-rows: repeat(3, auto);
    gap: 0.5em;
}

.event-creation-title-label {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#event-creation-form--title {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.event-creation-description-label {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#event-creation-form--description {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.event-creation-start-label {
    margin: 0;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.event-creation-form--start {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.event-creation-end-label {
    margin: 0;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.event-creation-form--end {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.button--add-event {
    margin: 1.5em;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.button--set-start-time {
    width: 8em;
}

.button--set-end-time {
    width: 8em;
}

.button--cancel-event-creation {
    margin: 0.5em;
    align-self: flex-end;
}

.temp-event {
    margin-block: 2em;
}

.event-color-tag {
    height: 1em;
    width: 1em;
}