:root {
  --main-panel-height: 40rem;
  --main-panel-width: 40rem;
  --main-panel-border-radius: 2rem;
  --main-panel-outline: 0.45rem solid #272d2d;
  --panel-item-outline: 0.09rem solid #272d2d;
}

.App {
  color: #272d2d;
  background-color: #FEFCFB;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.main--second-section {
  height: 46rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.second-section-header {
  min-height: 6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.button--create-event {
  margin-inline: 2em;
}